#top-footer {
    padding: 20px 10px;
    color: $header-textcolor;

    h3 {
        color: $brand-primary;
    }

    ul {
        list-style: none;
    }

    .contact ul li {
        font-size: 1.2rem;
        margin-bottom: 4px;

        i {
            margin-right: 3px;
            min-width: 20px;
            text-align: center;
        }
    }

    .footer_about {
        text-align: center;
    }

}

#page-footer {
    text-align: center;
    min-height: inherit;
    color: $header-textcolor;

    a {
        color: $brand-primary;
    }

    .madewithmoodle {
        margin-bottom: .5rem;
        p {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;
            margin-bottom: 0;
            display: inline-block;
        }

        img {
            max-width: 100px;
            margin-top: -12px;
        }
    }
    .madeby {
        font-size: 12px;
        text-align: right;
    }
}
