{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_ergo/frontpage_guest

    Guest frontpage template.

    Frontpage guest layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "cansignup": true
    }
}}
    {{>theme_ergo/inc_start}}

    <div id="page" class="container-fluid">

        {{#hasslides}}
            {{>theme_ergo/slideshow}}
        {{/hasslides}}

        {{#hascontentblocks}}
        <section id="content-blocks" data-region="blocks-row">
            {{{ contentblocks }}}
        </section>
        {{/hascontentblocks}}

        {{>theme_ergo/mainmenu}}

        {{#hasstats}}
            {{>theme_ergo/stats}}
        {{/hasstats}}

        <div class="content-area">
            <div class="{{#haspostblocks}}col-md-8{{/haspostblocks}}">

                {{#hasnews}}
                    {{>theme_ergo/news}}
                {{/hasnews}}

                {{#haslogos}}
                    {{>theme_ergo/logos}}
                {{/haslogos}}

                {{{ output.main_content }}}
            </div>
            {{#haspostblocks}}
                <div class="col-md-4 col-sidepost-blocks">
                    <section id="sidepost-blocks" data-region="blocks-column-inner" class="hidden-print">
                        {{{ sidepostblocks }}}
                    </section>
                </div>
            {{/haspostblocks}}
        </div>

    </div>

{{>theme_ergo/inc_end}}
